.sortramme {
	border:2px solid black;
}
.navbar,
.navbar-brand,
.navbar-nav li a {
    line-height: 75px;
    height: 75px;
    	padding-top: 0px;
    	font-size: medium;
padding-top: 0px;
	background: rgba(74,74,74,0.95);
background: -moz-linear-gradient(top, rgba(74,74,74,1) 0%, rgba(74,74,74,1) 15%, rgba(43,43,43,1) 85%, rgba(43,43,43,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(74,74,74,1)), color-stop(15%, rgba(74,74,74,1)), color-stop(85%, rgba(43,43,43,1)), color-stop(100%, rgba(43,43,43,1)));
background: -webkit-linear-gradient(top, rgba(74,74,74,1) 0%, rgba(74,74,74,1) 15%, rgba(43,43,43,1) 85%, rgba(43,43,43,1) 100%);
background: -o-linear-gradient(top, rgba(74,74,74,1) 0%, rgba(74,74,74,1) 15%, rgba(43,43,43,1) 85%, rgba(43,43,43,1) 100%);
background: -ms-linear-gradient(top, rgba(74,74,74,1) 0%, rgba(74,74,74,1) 15%, rgba(43,43,43,1) 85%, rgba(43,43,43,1) 100%);
background: linear-gradient(to bottom, rgba(74,74,74,1) 0%, rgba(74,74,74,1) 15%, rgba(43,43,43,1) 85%, rgba(43,43,43,1) 100%);
  }


.navbar-brand {
	display: block;	
}
body { padding-top: 90px; }

.navbar-text p a{
	padding-top: 0px;
}




p.navbar-text, navbar-right { padding-top: 0px;}

.navbar {
	box-shadow: 0px 0px 5px 2px black;
}